{% extends 'base.html' %}

{% block 'titulo' %}Sobre{% endblock %}

{% block 'conteudo' %}
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
            Home
            </a>
    
            <a class="navbar-item">
            Documentation
            </a>
    
            <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                More
            </a>
    
            <div class="navbar-dropdown">
                <a class="navbar-item">
                About
                </a>
                <a class="navbar-item">
                Jobs
                </a>
                <a class="navbar-item">
                Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                Report an issue
                </a>
            </div>
            </div>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                Log in
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Hero -->
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Success hero
          </p>
          <p class="subtitle">
            Success subtitle
          </p>
        </div>
      </section>

    <!-- Formulário -->
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
        <input class="input" type="text" placeholder="Text input">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="bulma">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
        </div>
        <p class="help is-success">This username is available</p>
    </div>
    
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
    </div>
    
    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
        <div class="select">
            <select>
            <option>Select dropdown</option>
            <option>With options</option>
            </select>
        </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
        <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
        </label>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
        <label class="radio">
            <input type="radio" name="question">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="question">
            No
        </label>
        </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
        <button class="button is-link">Submit</button>
        </div>
        <div class="control">
        <button class="button is-link is-light">Cancel</button>
        </div>
    </div>

    <!-- small hero -->
    <section class="hero is-small is-success">
        <div class="hero-body">
          <p class="title">
            Small hero
          </p>
          <p class="subtitle">
            Small subtitle
          </p>
        </div>
      </section>&nbsp;

  <!-- pagination -->
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
        <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
        </li>
        <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
        </li>
        <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
        </li>
        </ul>
    </nav>
</div>&nbsp;

<!-- tile -->
<div class="container">
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Vertical...</p>
            <p class="subtitle">Top tile</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">...tiles</p>
            <p class="subtitle">Bottom tile</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Middle tile</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Wide tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Tall tile</p>
          <p class="subtitle">With even more content</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
</div>&nbsp;
<!-- end tile -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>    
{% endblock %}